
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  width: 95%;
  margin-left: 2.5%;
}
h1{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  /* color: aqua; */

}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}